{#
/* COPYRIGHT
------------------------------------------------------------------  
  Omni for Drupal 8.x - Version 1.0                           
  Copyright (C) 2016 esors.com All Rights Reserved.           
  @license - Copyrighted Commercial Software                   
------------------------------------------------------------------  
  Theme Name: Omni Portfolio                                           
  Author: ESORS                                           
  Date: 19th August 2016                                        
  Website: http://www.esors.com/                              
------------------------------------------------------------------  
  This file may not be redistributed in whole or   
  significant part.                                            
----------------------------------------------------------------*/
#}
{% if not page %}
  <article{{ attributes.addClass('node article teaser clearfix') }}>
    <header>
      <div class="meta">   
        {% if content.field_tags|render %}
          <span class="term">{{ content.field_tags }}</span>
        {% endif %}
         <span class="date">{{ node.createdtime|date("F jS, Y") }}</span>
      </div>
      {{ title_prefix }}
        <h2 class="title uppercase"><a href="{{ url }}" rel="bookmark">{{ label }}</a></h2>
      {{ title_suffix }} 
    </header>
    <div class="content">
      {{ content|without('comment', 'links', 'field_tags', 'field_image', 'addtoany') }}
    </div>
    <div class="read-more">
      <a href="{{ url }}" class="button hollow">{{ 'READ MORE'|t }}</a>
    </div>
  </article>
{% else %}
  <article{{ attributes.addClass('node article full clearfix') }}>
    <header class="article-header text-center">
      <div class="row">
        <div class="small-centered large-11 column">
          <div class="meta term">                   
            {% if content.field_tags|render %}
              <div class="inner">{{ content.field_tags }}</div>
            {% endif %}                   
          </div>
          <h1 class="title uppercase">{{ label }}</h1>
          {% if summary %}
            <div class="summary">{{ summary }}</div>
          {% endif %}
          {% if content.addtoany %}
            <div class="share text-center">{{ content.addtoany }}</div>
          {% endif %}
          {% if display_submitted %}
            <div class="meta submit">
              {{ author_picture }}
              <div class="wrapper">
                <span class="author">{{ 'Posted'|t }} <span class="lowercase">{{ 'by'|t }}</span> {{ author_name }}</span> <span class="lowercase">{{ 'on'|t }}</span> <span class="date">{{ node.createdtime|date("l, m/d/Y") }}</span>
              </div>    
            </div>
          {% endif %}
        </div>
      </div>
    </header>
    <div class="article-body">
      <div class="row">
        {% if sidebar_secondary %}
          <div class="body-left large-8 column">
        {% else %}
          <div class="body-left small-centered large-8 column">
        {% endif %}
          <div class="inner">
            <div id="article-content">    
              {% if content.field_image|render %}
                <div class="image-default">
                  {{ content.field_image }}
                </div>
              {% endif %} 
              <div class="inner">  
                {{ content|without('comment', 'links', 'field_tags', 'field_image', 'addtoany') }}
              </div>
              {% if content.links %}
                <div class="links">
                  <div class="title"><h3>{{ 'links'|t }}</h3></div>                        
                  {{ content.links }}       
                </div>
              {% endif %}
              <section id="author">   
                {{ author }}
              </section>
            </div> 
            <section id="related">   
              {{ related }}
            </section>
            {{ content.comment }}
          </div>
        </div>
        {% if sidebar_secondary %}
          <div class="body-right large-4 column">
            <div class="inner" data-sticky-container>
              <div class="sticky" data-sticky data-sticky-on="large" data-anchor="article-content">
                {{ sidebar_secondary }}
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </article>
{% endif %}