{#
/* COPYRIGHT
------------------------------------------------------------------  
  Omni for Drupal 8.x - Version 1.0                           
  Copyright (C) 2016 esors.com All Rights Reserved.           
  @license - Copyrighted Commercial Software                   
------------------------------------------------------------------  
  Theme Name: Omni Expo                                          
  Author: ESORS                                           
  Date: 1st October 2016                                        
  Website: http://www.esors.com/                              
------------------------------------------------------------------  
  This file may not be redistributed in whole or   
  significant part.                                            
----------------------------------------------------------------*/
#} 
{{ title_prefix }}
<h3{{ title_attributes }}>
  <a href="{{ url }}">{{ title }}</a>
</h3>
{{ title_suffix }}
{% if info %}
  <div class="meta">{{ info }}</div>
{% endif %}
{% if snippet %}
  <p{{ content_attributes }}>{{ snippet }}</p>
{% endif %}

