{#
/* COPYRIGHT
------------------------------------------------------------------  
  Omni for Drupal 8.x - Version 1.0                           
  Copyright (C) 2016 esors.com All Rights Reserved.           
  @license - Copyrighted Commercial Software                   
------------------------------------------------------------------  
  Theme Name: Omni Portfolio                                           
  Author: ESORS                                           
  Date: 19th August 2016                                        
  Website: http://www.esors.com/                              
------------------------------------------------------------------  
  This file may not be redistributed in whole or   
  significant part.                                            
----------------------------------------------------------------*/
#}
{% set run = false %}
{% set type = '' %}
{% for item in items if run == false %}
  {% set block = item.content['#block_content'] %}
  {% set type = block.field_showcase_type.value %}
  {% set run = true %}
{% endfor %}

{% if type == 'main' or type == 'heading' %}
  {% for item in items %}  
    {% set block = item.content['#block_content'] %}   
    {% set url = block.field_link.uri %}    
    {% set pattern = block.field_showcase_pattern.value %}  
    {% set filter = block.field_background_filter.value %}
    {% if filter %}
      {% set filter %} with-filter {{ filter }}{% endset %}
    {% endif %}
    {% set image %}{{ item.content.field_background_image|raw }}{% endset %}

    <div>
      <div class="slide"> 
        <div class="inner {{ pattern }}{{ filter }}" style="{{ background_image(image)}}">
          <div class="wrapper">
            {% if pattern|slice(8,1) == 1 %}
              <div class="slide-title element">
                <h3>{% if url %}<a href="{{ url }}" target="_blank">{% endif %}{{ item.content.field_title }}{% if url %}</a>{% endif %}</h3>
              </div>
            {% endif %}
            {% if item.content.body|render %}
              <div class="slide-content element">                   
                {{ item.content.body }}
              </div>
            {% endif %}
          </div>
        </div> 
      </div>
    </div>
  {% endfor %}
{% endif %}

{% if type == 'heading-alter' %}
  {% for item in items %}  
    {% set block = item.content['#block_content'] %}   
    {% set url = block.field_link.uri %}    
    {% set pattern = block.field_showcase_pattern.value %}  
    {% set filter = block.field_background_filter.value %}
    {% if filter %}
      {% set filter %} with-filter {{ filter }}{% endset %}
    {% endif %}
    {% set image %}{{ item.content.field_background_image|raw }}{% endset %}

    <div>
      <div class="slide"> 
        <div class="inner {{ pattern }}{{ filter }}" style="{{ background_image(image)}}">
          {% if url %}
            <a href="{{ url }}" target="_blank" class="cover"></a>
          {% endif %}
          <div class="content">
            <div class="row">
              <div class="large-9 large-centered text-center column">
                {% if item.content.field_category|render %}
                  <div class="slide-category">
                  {{ item.content.field_category }}
                  </div>
                {% endif %}
                <div class="slide-title element">
                  <h3>{% if url %}<a href="{{ url }}" target="_blank">{% endif %}{{ item.content.field_title }}{% if url %}</a>{% endif %}</h3>
                </div>
                {% if item.content.body|render %}
                  <div class="slide-content element">                   
                    {{ item.content.body }}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div>
  {% endfor %}
{% endif %}