{#
/* COPYRIGHT
------------------------------------------------------------------  
  Omni for Drupal 8.x - Version 1.0                           
  Copyright (C) 2016 esors.com All Rights Reserved.           
  @license - Copyrighted Commercial Software                   
------------------------------------------------------------------  
  Theme Name: Omni Agency                                           
  Author: ESORS                                           
  Date: 19th May 2016                                        
  Website: http://www.esors.com/                              
------------------------------------------------------------------  
  This file may not be redistributed in whole or   
  significant part.                                            
----------------------------------------------------------------*/
#}
{% if not page %}
  <article{{ attributes.addClass('node article teaser text-center clearfix') }}>
    <header>
      <span class="date">{{ date }}</span> 
      {{ title_prefix }}
        <h2 class="title"><small><a href="{{ url }}" rel="bookmark">{{ label }}</a></small></h2>
      {{ title_suffix }}
      {% if display_submitted %}
        <div class="meta">                   
          {% if content.field_tags|render %}
            <div class="term">{{ content.field_tags }}</div>
          {% endif %}           
          <div class="author">{{ 'By'|t }} {{ author_name }}</div>        
        </div>
      {% endif %}
    </header>    
    {% if content.field_image|render %}
      <div class="image-default">
        {{ content.field_image }}
      </div>
    {% endif %}     
    <div class="content">
      {{ content|without('comment', 'links', 'field_tags', 'field_image', 'addtoany') }}
    </div>    
    <a href="{{ url }}" class="link button">{{ 'MORE +'|t }}</a>
    {% if content.addtoany %}
      <div class="share">{{ content.addtoany }}</div>
    {% endif %} 
  </article>
{% else %}
  <article{{ attributes.addClass('node article full clearfix') }}>
    <header class="text-center">
      <span class="date">{{ date }}</span> 
      <h1 class="title">{{ label }}</h1>
      {% if display_submitted %}
        <div class="meta">                   
          {% if content.field_tags|render %}
            <div class="term">{{ content.field_tags }}</div>
          {% endif %}           
          <div class="author">{{ 'By'|t }} {{ author_name }}</div>        
        </div>
      {% endif %}
    </header>
    {% if content.addtoany %}
      <div class="share text-center">{{ content.addtoany }}</div>
    {% endif %} 
    <div class="content clearfix">
      {% if content.field_image|render %}
        <div class="image-default text-center">
          {{ content.field_image }}
        </div>
      {% endif %}     
      {{ content|without('comment', 'links', 'field_tags', 'field_image', 'addtoany') }}
    </div>
  </article>
  {{ content.comment }}
{% endif %}